<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
    		<dict>
			<key>country_name</key>
			<string>China</string>
			<key>lat</key>
			<real>35.86166</real>
			<key>lng</key>
			<real>104.195397</real>
		</dict>

    		<dict>
			<key>country_name</key>
			<string>United States</string>
			<key>lat</key>
			<real>37.09024</real>
			<key>lng</key>
			<real>-95.712891</real>
		</dict>

    		<dict>
			<key>country_name</key>
			<string>Italy</string>
			<key>lat</key>
			<real>41.87194</real>
			<key>lng</key>
			<real>12.56738</real>
		</dict>

    		<dict>
			<key>country_name</key>
			<string>United Kingdom</string>
			<key>lat</key>
			<real>55.378051</real>
			<key>lng</key>
			<real>-3.435973</real>
		</dict>

    		<dict>
			<key>country_name</key>
			<string>British Virgin Islands</string>
			<key>lat</key>
			<real>18.420695</real>
			<key>lng</key>
			<real>-64.639968</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Russia</string>
			<key>lat</key>
			<real>61.5240100</real>
			<key>lng</key>
			<real>105.3187560</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Indonesia</string>
			<key>lat</key>
			<real>-0.7892750</real>
			<key>lng</key>
			<real>113.9213270</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>India</string>
			<key>lat</key>
			<real>20.5936840</real>
			<key>lng</key>
			<real>78.9628800</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Japan</string>
			<key>lat</key>
			<real>36.2048240</real>
			<key>lng</key>
			<real>138.2529240</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Saudi Arabia</string>
			<key>lat</key>
			<real>23.8859420</real>
			<key>lng</key>
			<real>45.0791620</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Bahrain</string>
			<key>lat</key>
			<real>25.9304140</real>
			<key>lng</key>
			<real>50.6377720</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Egypt</string>
			<key>lat</key>
			<real>26.8205530</real>
			<key>lng</key>
			<real>30.8024980</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Libya</string>
			<key>lat</key>
			<real>26.3351000</real>
			<key>lng</key>
			<real>17.2283310</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Syria</string>
			<key>lat</key>
			<real>34.8020750</real>
			<key>lng</key>
			<real>38.9968150</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>United Arab Emirates</string>
			<key>lat</key>
			<real>23.4240760</real>
			<key>lng</key>
			<real>53.8478180</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Yemen</string>
			<key>lat</key>
			<real>15.5527270</real>
			<key>lng</key>
			<real>48.5163880</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Venezuela</string>
			<key>lat</key>
			<real>6.4237500</real>
			<key>lng</key>
			<real>-66.5897300</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Bolivia</string>
			<key>lat</key>
			<real>-16.2901540</real>
			<key>lng</key>
			<real>-63.5886530</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Ecuador</string>
			<key>lat</key>
			<real>-1.8312390</real>
			<key>lng</key>
			<real>-78.1834060</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Ukraine</string>
			<key>lat</key>
			<real>48.3794330</real>
			<key>lng</key>
			<real>31.1655800</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Belarus</string>
			<key>lat</key>
			<real>53.7098070</real>
			<key>lng</key>
			<real>27.9533890</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Turkey</string>
			<key>lat</key>
			<real>38.9637450</real>
			<key>lng</key>
			<real>35.2433220</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Thailand</string>
			<key>lat</key>
			<real>15.8700320</real>
			<key>lng</key>
			<real>100.9925410</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Hong Kong</string>
			<key>lat</key>
			<real>22.3964280</real>
			<key>lng</key>
			<real>114.1094970</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Taiwan</string>
			<key>lat</key>
			<real>23.6978100</real>
			<key>lng</key>
			<real>120.9605150</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Congo</string>
			<key>lat</key>
			<real>-0.2280210</real>
			<key>lng</key>
			<real>15.8276590</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Zimbabwe</string>
			<key>lat</key>
			<real>-19.0154380</real>
			<key>lng</key>
			<real>29.1548570</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Iraq</string>
			<key>lat</key>
			<real>33.2231910</real>
			<key>lng</key>
			<real>43.6792910</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Iran</string>
			<key>lat</key>
			<real>32.4279080</real>
			<key>lng</key>
			<real>53.6880460</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Afghanistan</string>
			<key>lat</key>
			<real>33.9391100</real>
			<key>lng</key>
			<real>67.7099530</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Pakistan</string>
			<key>lat</key>
			<real>30.3753210</real>
			<key>lng</key>
			<real>69.3451160</real>
		</dict>
    		<dict>
			<key>country_name</key>
			<string>Morocco</string>
			<key>lat</key>
			<real>31.7917020</real>
			<key>lng</key>
			<real>-7.0926200</real>
		</dict>
	</array>
</plist>