<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<array>
    		<dict>
			<key>label</key>
			<string>Afghanistan</string>
			<key>value</key>
			<string>AF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Aland Islands</string>
			<key>value</key>
			<string>AX</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Albania</string>
			<key>value</key>
			<string>AL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Algeria</string>
			<key>value</key>
			<string>DZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>American Samoa</string>
			<key>value</key>
			<string>AS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Andorra</string>
			<key>value</key>
			<string>AD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Angola</string>
			<key>value</key>
			<string>AO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Anguilla</string>
			<key>value</key>
			<string>AI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Antarctica</string>
			<key>value</key>
			<string>AQ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Antigua and Barbuda</string>
			<key>value</key>
			<string>AG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Argentina</string>
			<key>value</key>
			<string>AR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Armenia</string>
			<key>value</key>
			<string>AM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Aruba</string>
			<key>value</key>
			<string>AW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Australia</string>
			<key>value</key>
			<string>AU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Austria</string>
			<key>value</key>
			<string>AT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Azerbaijan</string>
			<key>value</key>
			<string>AZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bahrain</string>
			<key>value</key>
			<string>BH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bangladesh</string>
			<key>value</key>
			<string>BD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Barbados</string>
			<key>value</key>
			<string>BB</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Belarus</string>
			<key>value</key>
			<string>BY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Belgium</string>
			<key>value</key>
			<string>BE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Belize</string>
			<key>value</key>
			<string>BZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Benin</string>
			<key>value</key>
			<string>BJ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bermuda</string>
			<key>value</key>
			<string>BM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bhutan</string>
			<key>value</key>
			<string>BT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bolivia</string>
			<key>value</key>
			<string>BO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bosnia and Herzegovina</string>
			<key>value</key>
			<string>BA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Botswana</string>
			<key>value</key>
			<string>BW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bouvet Island</string>
			<key>value</key>
			<string>BV</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Brazil</string>
			<key>value</key>
			<string>BR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>British Virgin Islands</string>
			<key>value</key>
			<string>VG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Brunei</string>
			<key>value</key>
			<string>BN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Bulgaria</string>
			<key>value</key>
			<string>BG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Burkina Faso</string>
			<key>value</key>
			<string>BF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Burundi</string>
			<key>value</key>
			<string>BI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cambodia</string>
			<key>value</key>
			<string>KH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cameroon</string>
			<key>value</key>
			<string>CM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Canada</string>
			<key>value</key>
			<string>CA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cape Verde</string>
			<key>value</key>
			<string>CV</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cayman Islands</string>
			<key>value</key>
			<string>KY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Central African Republic</string>
			<key>value</key>
			<string>CF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Chad</string>
			<key>value</key>
			<string>TD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Chagos Islands</string>
			<key>value</key>
			<string>IO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Chile</string>
			<key>value</key>
			<string>CL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>China</string>
			<key>value</key>
			<string>CN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Colombia</string>
			<key>value</key>
			<string>CO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Comoros</string>
			<key>value</key>
			<string>KM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Congo</string>
			<key>value</key>
			<string>CG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cook Islands</string>
			<key>value</key>
			<string>CK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Costa Rica</string>
			<key>value</key>
			<string>CR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Croatia</string>
			<key>value</key>
			<string>HR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cuba</string>
			<key>value</key>
			<string>CU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Cyprus</string>
			<key>value</key>
			<string>CY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Czech Republic</string>
			<key>value</key>
			<string>CZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Denmark</string>
			<key>value</key>
			<string>DK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Djibouti</string>
			<key>value</key>
			<string>DJ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Dominica</string>
			<key>value</key>
			<string>DM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Dominican Republic</string>
			<key>value</key>
			<string>DO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>DR Congo</string>
			<key>value</key>
			<string>CD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>East Timor</string>
			<key>value</key>
			<string>TL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Ecuador</string>
			<key>value</key>
			<string>EC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Egypt</string>
			<key>value</key>
			<string>EG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>El Salvador</string>
			<key>value</key>
			<string>SV</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Equatorial Guinea</string>
			<key>value</key>
			<string>GQ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Eritrea</string>
			<key>value</key>
			<string>ER</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Estonia</string>
			<key>value</key>
			<string>EE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Ethiopia</string>
			<key>value</key>
			<string>ET</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Falkland Islands</string>
			<key>value</key>
			<string>FK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Faroe Islands</string>
			<key>value</key>
			<string>FO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Fiji</string>
			<key>value</key>
			<string>FJ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Finland</string>
			<key>value</key>
			<string>FI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>France</string>
			<key>value</key>
			<string>FR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>French Guiana</string>
			<key>value</key>
			<string>GF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>French Polynesia</string>
			<key>value</key>
			<string>PF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Gabon</string>
			<key>value</key>
			<string>GA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Gambia</string>
			<key>value</key>
			<string>GM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Georgia</string>
			<key>value</key>
			<string>GE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Germany</string>
			<key>value</key>
			<string>DE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Ghana</string>
			<key>value</key>
			<string>GH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Gibraltar</string>
			<key>value</key>
			<string>GI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Greece</string>
			<key>value</key>
			<string>GR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Greenland</string>
			<key>value</key>
			<string>GL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Grenada</string>
			<key>value</key>
			<string>GD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guadeloupe</string>
			<key>value</key>
			<string>GP</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guam</string>
			<key>value</key>
			<string>GU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guatemala</string>
			<key>value</key>
			<string>GT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guernsey</string>
			<key>value</key>
			<string>GG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guinea</string>
			<key>value</key>
			<string>GN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guinea-Bissau</string>
			<key>value</key>
			<string>GW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Guyana</string>
			<key>value</key>
			<string>GY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Haiti</string>
			<key>value</key>
			<string>HT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Heard Island and McDonald Islands</string>
			<key>value</key>
			<string>HM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Honduras</string>
			<key>value</key>
			<string>HN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Hong Kong</string>
			<key>value</key>
			<string>HK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Hungary</string>
			<key>value</key>
			<string>HU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Iceland</string>
			<key>value</key>
			<string>IS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>India</string>
			<key>value</key>
			<string>IN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Indonesia</string>
			<key>value</key>
			<string>ID</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Iran</string>
			<key>value</key>
			<string>IR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Iraq</string>
			<key>value</key>
			<string>IQ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Ireland</string>
			<key>value</key>
			<string>IE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Isle of Man</string>
			<key>value</key>
			<string>IM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Israel</string>
			<key>value</key>
			<string>IL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Italy</string>
			<key>value</key>
			<string>IT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Ivory Coast</string>
			<key>value</key>
			<string>CI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Jamaica</string>
			<key>value</key>
			<string>JM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Japan</string>
			<key>value</key>
			<string>JP</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Jersey</string>
			<key>value</key>
			<string>JE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Jordan</string>
			<key>value</key>
			<string>JO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Kazakhstan</string>
			<key>value</key>
			<string>KZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Kenya</string>
			<key>value</key>
			<string>KE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Kiribati</string>
			<key>value</key>
			<string>KI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Kuwait</string>
			<key>value</key>
			<string>KW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Kyrgyzstan</string>
			<key>value</key>
			<string>KG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Laos</string>
			<key>value</key>
			<string>LA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Latvia</string>
			<key>value</key>
			<string>LV</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Lebanon</string>
			<key>value</key>
			<string>LB</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Lesotho</string>
			<key>value</key>
			<string>LS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Liberia</string>
			<key>value</key>
			<string>LR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Libya</string>
			<key>value</key>
			<string>LY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Liechtenstein</string>
			<key>value</key>
			<string>LI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Lithuania</string>
			<key>value</key>
			<string>LT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Luxembourg</string>
			<key>value</key>
			<string>LU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Macao</string>
			<key>value</key>
			<string>MO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Macedonia</string>
			<key>value</key>
			<string>MK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Madagascar</string>
			<key>value</key>
			<string>MG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Malawi</string>
			<key>value</key>
			<string>MW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Malaysia</string>
			<key>value</key>
			<string>MY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Maldives</string>
			<key>value</key>
			<string>MV</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mali</string>
			<key>value</key>
			<string>ML</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Malta</string>
			<key>value</key>
			<string>MT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Marshall Islands</string>
			<key>value</key>
			<string>MH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Martinique</string>
			<key>value</key>
			<string>MQ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mauritania</string>
			<key>value</key>
			<string>MR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mauritius</string>
			<key>value</key>
			<string>MU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mayotte</string>
			<key>value</key>
			<string>YT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mexico</string>
			<key>value</key>
			<string>MX</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Micronesia</string>
			<key>value</key>
			<string>FM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Moldova</string>
			<key>value</key>
			<string>MD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Monaco</string>
			<key>value</key>
			<string>MC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mongolia</string>
			<key>value</key>
			<string>MN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Montenegro</string>
			<key>value</key>
			<string>ME</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Montserrat</string>
			<key>value</key>
			<string>MS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Morocco</string>
			<key>value</key>
			<string>MA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Mozambique</string>
			<key>value</key>
			<string>MZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Myanmar</string>
			<key>value</key>
			<string>MM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Namibia</string>
			<key>value</key>
			<string>NA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Nauru</string>
			<key>value</key>
			<string>NR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Nepal</string>
			<key>value</key>
			<string>NP</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Netherlands Antilles</string>
			<key>value</key>
			<string>AN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>New Caledonia</string>
			<key>value</key>
			<string>NC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>New Zealand</string>
			<key>value</key>
			<string>NZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Nicaragua</string>
			<key>value</key>
			<string>NI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Niger</string>
			<key>value</key>
			<string>NE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Nigeria</string>
			<key>value</key>
			<string>NG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Niue</string>
			<key>value</key>
			<string>NU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Norfolk Island</string>
			<key>value</key>
			<string>NF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Northern Mariana Islands</string>
			<key>value</key>
			<string>MP</string>
		</dict>
		<dict>
			<key>label</key>
			<string>North Korea</string>
			<key>value</key>
			<string>KP</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Norway</string>
			<key>value</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Oman</string>
			<key>value</key>
			<string>OM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Pakistan</string>
			<key>value</key>
			<string>PK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Palau</string>
			<key>value</key>
			<string>PW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Panama</string>
			<key>value</key>
			<string>PA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Papua New Guinea</string>
			<key>value</key>
			<string>PG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Paraguay</string>
			<key>value</key>
			<string>PY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Peru</string>
			<key>value</key>
			<string>PE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Philippines</string>
			<key>value</key>
			<string>PH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Pitcairn Islands</string>
			<key>value</key>
			<string>PN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Poland</string>
			<key>value</key>
			<string>PL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Portugal</string>
			<key>value</key>
			<string>PT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Puerto Rico</string>
			<key>value</key>
			<string>PR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Qatar</string>
			<key>value</key>
			<string>QA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Reunion</string>
			<key>value</key>
			<string>RE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Romania</string>
			<key>value</key>
			<string>RO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Russia</string>
			<key>value</key>
			<string>RU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Rwanda</string>
			<key>value</key>
			<string>RW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>S. Georgia and S. Sandwich Islands</string>
			<key>value</key>
			<string>GS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Saint Kitts and Nevis</string>
			<key>value</key>
			<string>KN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Saint Lucia</string>
			<key>value</key>
			<string>LC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Samoa</string>
			<key>value</key>
			<string>WS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>San Marino</string>
			<key>value</key>
			<string>SM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Sao Tome and Principe</string>
			<key>value</key>
			<string>ST</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Saudi Arabia</string>
			<key>value</key>
			<string>SA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Senegal</string>
			<key>value</key>
			<string>SN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Serbia</string>
			<key>value</key>
			<string>RS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Serbia and Montenegro</string>
			<key>value</key>
			<string>CS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Seychelles</string>
			<key>value</key>
			<string>SC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Sierra Leone</string>
			<key>value</key>
			<string>SL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Singapore</string>
			<key>value</key>
			<string>SG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Slovakia</string>
			<key>value</key>
			<string>SK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Slovenia</string>
			<key>value</key>
			<string>SI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Solomon Islands</string>
			<key>value</key>
			<string>SB</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Somalia</string>
			<key>value</key>
			<string>SO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>South Africa</string>
			<key>value</key>
			<string>ZA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>South Korea</string>
			<key>value</key>
			<string>KR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Spain</string>
			<key>value</key>
			<string>ES</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Sri Lanka</string>
			<key>value</key>
			<string>LK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>St. Vincent and Grenadines</string>
			<key>value</key>
			<string>VC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Sudan</string>
			<key>value</key>
			<string>SD</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Suriname</string>
			<key>value</key>
			<string>SR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Swaziland</string>
			<key>value</key>
			<string>SZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Sweden</string>
			<key>value</key>
			<string>SE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Switzerland</string>
			<key>value</key>
			<string>CH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Syria</string>
			<key>value</key>
			<string>SY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Taiwan</string>
			<key>value</key>
			<string>TW</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tajikistan</string>
			<key>value</key>
			<string>TJ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tanzania</string>
			<key>value</key>
			<string>TZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Thailand</string>
			<key>value</key>
			<string>TH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>The Bahamas</string>
			<key>value</key>
			<string>BS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>The Netherlands</string>
			<key>value</key>
			<string>NL</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Togo</string>
			<key>value</key>
			<string>TG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tokelau</string>
			<key>value</key>
			<string>TK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tonga</string>
			<key>value</key>
			<string>TO</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Trinidad and Tobago</string>
			<key>value</key>
			<string>TT</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tunisia</string>
			<key>value</key>
			<string>TN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Turkey</string>
			<key>value</key>
			<string>TR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Turkmenistan</string>
			<key>value</key>
			<string>TM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Turks and Caicos Islands</string>
			<key>value</key>
			<string>TC</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tuvalu</string>
			<key>value</key>
			<string>TV</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Uganda</string>
			<key>value</key>
			<string>UG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Ukraine</string>
			<key>value</key>
			<string>UA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>United Arab Emirates</string>
			<key>value</key>
			<string>AE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>United Kingdom</string>
			<key>value</key>
			<string>UK</string>
		</dict>
		<dict>
			<key>label</key>
			<string>United States</string>
			<key>value</key>
			<string>US</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Uruguay</string>
			<key>value</key>
			<string>UY</string>
		</dict>
		<dict>
			<key>label</key>
			<string>US Minor Outlying Islands</string>
			<key>value</key>
			<string>UM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>US Virgin Islands</string>
			<key>value</key>
			<string>VI</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Uzbekistan</string>
			<key>value</key>
			<string>UZ</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Vanuatu</string>
			<key>value</key>
			<string>VU</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Vatican City</string>
			<key>value</key>
			<string>VA</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Venezuela</string>
			<key>value</key>
			<string>VE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Vietnam</string>
			<key>value</key>
			<string>VN</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Wallis and Futuna</string>
			<key>value</key>
			<string>WF</string>
		</dict>
		<dict>
			<key>label</key>
			<string>West Bank and Gaza</string>
			<key>value</key>
			<string>PS</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Western Sahara</string>
			<key>value</key>
			<string>EH</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Yemen</string>
			<key>value</key>
			<string>YE</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Zambia</string>
			<key>value</key>
			<string>ZM</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Zimbabwe</string>
			<key>value</key>
			<string>ZW</string>
		</dict>
	</array>
</plist>
